/* Hide subgraph breadcrumb if enabled */
body.ui_cleanup_hide_subgraph .subgraph-breadcrumb {
    display: none !important;
    visibility: hidden !important;
}

/* Hide job progress panel if enabled */
body.ui_cleanup_hide_jobprogress div.pointer-events-auto.flex.w-\[350px\].min-w-\[310px\] {
    display: none !important;
}

body.ui_cleanup_hide_jobprogress div[class*="pointer-events-auto"][class*="w-[350px]"][class*="min-w-[310px]"] {
    display: none !important;
}

body.ui_cleanup_hide_jobprogress div.pointer-events-auto.flex[class*="w-[350px]"]:has(
    div[class*="bg-interface-panel-job-progress"]
) {
    display: none !important;
}

/* Hide triangle alert icon
i.icon-\[lucide--triangle-alert\][data-v-ebc86bb7] {
    display: none !important;
}
 */